<link href="~/RoadFlowResources/install/images/install.css" rel="stylesheet" />
<script src="~/RoadFlowResources/install/js/common.js"></script>
<body class="bg-bgradualChange p-relative pd_70">
    <form name="form1" method="post" id="form1">

        @Html.AntiForgeryToken()

        <div class="header bg-white">
            <div class="page-width clearfix">
                <div class="fl logoBox c-yellow fz-26 fw-bold lh-60">
                    @ViewBag.ProductName &nbsp;&nbsp;安装向导
                </div>
                <div class="fr introText c-666 lh-40 fz-13 mt_20">
                    当前安装版本：@ViewBag.ProductVersion &nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="floor pp_15">
            <div class="page-width">
                <div class="installInfo c-white md_25 fz-13">
                    <p class="lh-25">欢迎使用 @ViewBag.ProductName 安装向导;</p>
                    <p class="lh-25">本向导即将安装软件到您的系统中，安装前仔细阅读一下协议，点击<font class="fz-16 c-yellow">同意</font>进入下一步</p>
                </div>
                <div class="installCon bg-white pd_70">
                    <div class="stepBox pp_20 pd_20">
                        <ul class="clearfix t-c">

                            <li class="on">
                                <span class="circle mao lh-30 md_10 show rod c-white bg-yellow fz-13">1</span>
                                <div class="c-474747 fw-bold fz-13">阅读许可协议</div>
                                <em class="p-absolute bg-yellow line on"></em>
                            </li>
                            <li>
                                <span class="circle mao lh-30 md_10 show rod c-white bg-yellow fz-13">2</span>
                                <div class="c-474747 fw-bold fz-13">检查安装环境</div>
                                <em class="p-absolute bg-ygradualChange line"></em>
                            </li>
                            <li>
                                <span class="circle mao lh-30 md_10 show rod bg-eee c-9d9d9d fz-13">3</span>
                                <div class="c-474747 fw-bold fz-13">创建数据库</div>
                                <em class="p-absolute bg-eee line"></em>
                            </li>
                            <li>
                                <span class="circle mao lh-30 md_10 show rod bg-eee c-9d9d9d fz-13">4</span>
                                <div class="c-474747 fw-bold fz-13">网站基本配置</div>
                                <em class="p-absolute bg-eee line"></em>
                            </li>
                            <li>
                                <span class="circle mao lh-30 md_10 show rod bg-eee c-9d9d9d fz-13">5</span>
                                <div class="c-474747 fw-bold fz-13">安装完成</div>
                                <em class="p-absolute bg-eee line hide"></em>
                            </li>

                        </ul>
                    </div>

                    <!--  步骤1  begin  -->
                    <!--  步骤1 end    -->
                    <!--  步骤2  begin  -->
                    <div id="Step2">

                        <div class="stepTips c-747474 t-c pd_10 pp_10 bg-gray lh-25 gray-borderColor borderWidth borderTop borderBottom">检查安装环境，点击“<font class="c-yellow2">下一步</font>”继续安装</div>
                        <div class="stepOneCon w80 mao pd_30">
                            <h2 class="t-c md_20 pp_20 fz-14 c-747474">环境检查</h2>
                            <table cellpadding="0" cellspacing="0" border="0" class="fileItem c-c2c2c2 t-c gray2-borderColor borderLeft borderRight borderTop borderWidth">
                                <tr class="attributeTitle">
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">项目</td>
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">所需配置</td>
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">当前服务器</td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">.NET 版本</td>
                                    <td class="borderWidth borderBottom gray2-borderColor">ASP.NET 4.0及以上</td>
                                    <td class="t-l borderWidth borderBottom gray2-borderColor">
                                         @Html.Raw(ViewBag.ASPVersion)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">IIS版本</td>
                                    <td class="borderWidth borderBottom gray2-borderColor">IIS 7.0及以上</td>
                                    <td class="t-l borderWidth borderBottom gray2-borderColor">
                                         @Html.Raw(ViewBag.IIS)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">应用程序池托管管道模式</td>
                                    <td class="borderWidth borderBottom gray2-borderColor">集成</td>
                                    <td class="t-l borderWidth borderBottom gray2-borderColor">请自行检测</td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">数据库</td>
                                    <td class="borderWidth borderBottom gray2-borderColor">MSSQL 2008及以上</td>
                                    <td class="t-l borderWidth borderBottom gray2-borderColor">请自行检测</td>
                                </tr>
                            </table>
                            <h2 class="t-c md_20 pp_20 fz-14 c-747474">目录、文件权限检查</h2>
                            <table cellpadding="0" cellspacing="0" border="0" class="fileItem c-c2c2c2 t-c gray2-borderColor borderLeft borderRight borderTop borderWidth">
                                <tr class="attributeTitle">
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">目录文件</td>
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">所需状态</td>
                                    <td class="w3 c-747474 borderWidth borderBottom gray2-borderColor fz-13">当前状态</td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">/</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification success"></i>可写</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification  @ViewBag.PathFolder"></i>可写</td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">/wwwroot/RoadFlowResources/install/</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification success"></i>可写</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification @ViewBag.installFolder"></i>可写</td>
                                </tr>


                                @*<tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">/w1.txt</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification success"></i>可写</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification  @ViewBag.w1File"></i>可写</td>
                                </tr>
                                <tr>
                                    <td class="borderWidth borderBottom gray2-borderColor">/apps.json</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification success"></i>可写</td>
                                    <td class="borderWidth borderBottom gray2-borderColor"><i class="Identification  @ViewBag.appjson"></i>可写</td>
                                </tr>*@

                            </table>
                        </div>
                        <div class="nextStep pd_25 p-relative t-c  w80 mao">
                            <a href="javascript:history.back();" class="p-absolute c-c2c2c2 fz-13 lh-35 prevStep"><i class="returnIcon mr_5"></i><span>上一步</span></a>
                          
                            <input type="button" name="BtnStep2" value="下一步" id="BtnStep2" onclick="step2();" class="nextStepBtn c-white ro_3 fz-14" />
                        </div>

                    </div>
                  








                </div>
            </div>
        </div>


        <div class="footer pd_20 p-absolute">
            <div class="page-width lh-25 c-white t-c fz-14">
                <p>Powered By KESION Inc. WebUrl:<a href="http://www.kesion.com/" target="_blank" style="color:white;text-decoration:underline">www.kesion.com</a> </p>
                <p>福建·科技软件有限公司 版权所有 © 2006-2019</p>
            </div>
        </div>
        <div class="bg-img"></div>
        <script>

            

            function step2(){
                var url = "Index2?"+"@ViewBag.query"
                self.location = url
            }
        </script>

    </form>
</body>

