@using RoadFlow.Utility;
@using RoadFlow.Business;
@using Microsoft.AspNetCore.Http;
@{
	var Request = (HttpRequest)ViewData["request"];
	string instanceId = Request.Querys("instanceid");
	string taskId = Request.Querys("taskid");
	string stepId = Request.Querys("stepid");
	string flowId = Request.Querys("flowid");
	string display = Request.Querys("display");
	bool showArchive = "1".Equals(Request.Querys("showarchive"));
	string fieldStatusJSON = string.Empty;
	string formData = showArchive ? new RoadFlow.Business.FlowArchive().GetArchiveData(Request.Querys("archiveid").ToGuid()) : new RoadFlow.Business.Form().GetFormData("f823225e-abcf-4734-93b0-743669ef5f89", "HIS_patient_account", "s_ic_no", instanceId, stepId, flowId, "[]", out fieldStatusJSON);
}
<script type="text/javascript" src="~/RoadFlowResources/scripts/flowRun/form.js"></script>
<script type="text/javascript">
	var formDataJSON = @Html.Raw(formData.IsNullOrWhiteSpace() ? "[]" : formData);
	var fieldStatusJSON = @Html.Raw(fieldStatusJSON.IsNullOrWhiteSpace() ? "[]" : fieldStatusJSON);
	var defaultValuesJSON = @Html.Raw(new RoadFlow.Business.Form().GetDefaultValuesJSON("[]", fieldStatusJSON));
	$(window).load(function () {
		formLoad.load(formDataJSON, fieldStatusJSON, "HIS_patient_account", "@(display.IsNullOrWhiteSpace() ? ViewData["display"].ToString() : display)", defaultValuesJSON);
	});
</script>
<link href="~/RoadFlowResources/scripts/flowRun/common.css" rel="stylesheet" />
<input type="hidden" name="form_dbconnid" id="form_dbconnid" value="f823225e-abcf-4734-93b0-743669ef5f89"/>
<input type="hidden" name="form_dbtable" id="form_dbtable" value="HIS_patient_account"/>
<input type="hidden" name="form_dbtableprimarykey" id="form_dbtableprimarykey" value="s_ic_no"/>
<input type="hidden" name="form_dbtabletitle" id="form_dbtabletitle" value=""/>
<input type="hidden" name="form_instanceid" id="form_instanceid" value="@instanceId"/>
<textarea style="display:none;" name="form_fieldstatus" id="form_fieldstatus">@Html.Raw(fieldStatusJSON.IsNullOrWhiteSpace() ? "[]" : fieldStatusJSON)</textarea>
<textarea style="display:none;" name="form_dataformatjson" id="form_dataformatjson">[]</textarea>
<textarea style="display:none;" name="form_dbtabletitleexpression" id="form_dbtabletitleexpression">名字：{s_name}</textarea>
<p>&nbsp;</p>

<table style="width:500px;" cellspacing="1" cellpadding="1" border="1">
	<tbody>
		<tr>
			<td style="width: 94px; text-align: center;"><strong><span style="font-family:Georgia,serif;">IC卡号</span></strong></td>
			<td style="width: 397px;"><input data-isflow="1" data-type="serialnumber" id="HIS_PATIENT_ACCOUNT-S_IC_NO" style="" type="text" value="" placeholder="自动生成流水号" class="mytext" readonly="" name="HIS_PATIENT_ACCOUNT-S_IC_NO"><textarea style="width:0;height:0;display:none;" name="rf_serialnumber_config_HIS_PATIENT_ACCOUNT-S_IC_NO">{"maxfiled":"s_ic_no","length":"4","formatstring":"IC-{Date<yyyyMMdd>}--{SerialNumber}","sqlwhere":""}</textarea><input type="hidden" value="HIS_PATIENT_ACCOUNT-S_IC_NO" name="rf_serialnumber"></td>
		</tr>
		<tr>
			<td style="text-align:center;width:94px;"><strong><span style="font-family:Georgia,serif;">姓&nbsp; &nbsp; 名</span></strong></td>
			<td style="width: 397px;"><input data-isflow="1" data-type="text" id="HIS_PATIENT_ACCOUNT-S_NAME" style="" type="text" value="" class="mytext" name="HIS_PATIENT_ACCOUNT-S_NAME"></td>
		</tr>
		<tr>
			<td style="text-align:center;width:94px;"><strong><span style="font-family:Georgia,serif;">年&nbsp; &nbsp; &nbsp;龄</span></strong></td>
			<td style="width: 397px;"><input data-isflow="1" data-type="text" id="HIS_PATIENT_ACCOUNT-N_AGE" style="" type="text" value="" class="mytext" name="HIS_PATIENT_ACCOUNT-N_AGE"></td>
		</tr>
		<tr>
			<td style="text-align:center;width:94px;"><strong><span style="font-family:Georgia,serif;">性&nbsp; &nbsp; 别</span></strong></td>
			<td style="width: 397px;">@Html.Raw(new RoadFlow.Business.Form().GetRadioOrCheckboxHtml(-1, "", "", "id", "", "", "radio", "HIS_PATIENT_ACCOUNT-S_SEX", "data-isflow=\"1\" data-type=\"radio\""))</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
